body {
  background-color: #f6f7f8;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
  width: 440px;
  margin: 60px auto;
  padding: 35px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);  
}

.input {
  width: 70%;
}

.register {
  display: block;
}